Notre_Corpus/*.xml
Notre_Corpus/*.txt
Notre_Corpus/analyse_pdf/*.xml
Notre_Corpus/analyse_pdf/*.txt
Corpus_2022/*.xml
Corpus_2022/*.txt
Corpus_2022/analyse_pdf/*.xml
Corpus_2022/analyse_pdf/*.txt
Corpus_2023_FINAL/*.xml
Corpus_2023_FINAL/*.txt
Test/__pycache__/*
src/__pychache__/*
!Corpus_2023_FINAL/Correction/*